@import url('https://fonts.googleapis.com/css?family=Abel|Assistant|Cabin|Calligraffitti|Clicker+Script|Exo|Hind|Julius+Sans+One|Jura|Lexend+Tera|Maven+Pro|Norican|Pattaya|Poiret+One|Questrial|Ruda|Syncopate|Tajawal|Waiting+for+the+Sunrise|Allura|Caveat|Courgette|Handlee|Marck+Script|Mr+De+Haviland|Nothing+You+Could+Do|Pacifico|Parisienne|Tangerine|Yellowtail&display=swap');


:root {
    --hindi: 'Hind', sans-serif;
--caabin: 'Cabin', sans-serif;
--abel: 'Abel', sans-serif;
--exo: 'Exo', sans-serif;
--questrial: 'Questrial', sans-serif;
--maven-pro: 'Maven Pro', sans-serif;
--assistant: 'Assistant', sans-serif;
--tajawal: 'Tajawal', sans-serif;
--poiret-one: 'Poiret One', cursive;
--ruda: 'Ruda', sans-serif;
--lexend-tera: 'Lexend Tera', sans-serif;
--julius-sans: 'Julius Sans One', sans-serif;
--jura: 'Jura', sans-serif;
--syncopate: 'Syncopate', sans-serif;
--norican: 'Norican', cursive;
--pattaya: 'Pattaya', sans-serif;
--calligraffitti: 'Calligraffitti', cursive;
--sunrise: 'Waiting for the Sunrise', cursive;
--clicker: 'Clicker Script', cursive;
--pathway-gothic: 'Pathway Gothic One', sans-serif;
--barlow-semi: 'Barlow Semi Condensed', sans-serif;
--istok-web: 'Istok Web', sans-serif;
--m-plus-1: 'M PLUS 1p', sans-serif;
--sacremento: 'Sacramento', cursive;
--chivo: 'Chivo', sans-serif;
--yantramanav: 'Yantramanav', sans-serif;
--hind-guntur: 'Hind Guntur', sans-serif;
--gothic-a1: 'Gothic A1', sans-serif;
--pacifico: 'Pacifico', cursive;
--caveat: 'Caveat', cursive;
--courgette: 'Courgette', cursive;
--handlee: 'Handlee', cursive;
--tangerine: 'Tangerine', cursive;
--marck-script: 'Marck Script', cursive;
--parisienne: 'Parisienne', cursive;
--yellowtail: 'Yellowtail', cursive;
--allura: 'Allura', cursive;
--ruby-red: #A31621;
--snow: #FCF7F8;
--light-gray: #CED3DC;
--cyan-azure: #4E8098;
--l-cornblue: #90C2E7;
--umber: #594F3B;
--deep-taupe: #776258;
--chinese-violet: #896279;
--lavender-pur: #9C7CA5;
--wild-blue-yonder: #ADB2D3;
--reg-black: #010400;
--jet: #30332E;
--moonstone: #62BBC1;
--magenta: #EC058E;
--majorelle-blue: #6564DB;
--palatine-blue: #232ED1;
--sunset-black: #000000;
--sunset-shadow: #262626;
--sunset-glow-1: #b25939;
--sunset-glow-2: #c15838;
--sunset-glow-3: #b67a3e;
--sunset-glow-4: #a2652f;
}

/* Universal styles */

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

html {
    font-family: var(--handlee), sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

body {
    background-color: var(--sunset-black);
    color: var(--sunset-glow-3);
}

/* Header */

header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-bottom: 1px solid var(--sunset-shadow);
}

.nav__brand {
    width: 3rem;
}

.menu__icons i {
    font-size: 3.5rem;
    color: var(--sunset-black);
}

.close i {
    color: var(--sunset-glow-3);
}

.nav__list {
    width: 26rem;
    height: 100vh;
    background-color: var(--sunset-black);
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav__list.active {
    right: 0;
}

.close {
    position: absolute;
    top: 2.5rem;
    left: 2rem;
}

.nav__item {
    margin: 1.5rem;
}

.nav__link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--sunset-glow-4);
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(5, 7, 7, .5) 0%, rgba(5, 7, 7, .7) 100%), url('../img/tropical.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}

.main__message {
    width: 100%;
    max-width: 50rem;
    color: var(--sunset-black);
    text-transform: uppercase;
    transform: translateY(20%);
}

.main__message h3 {
    font-size: 1.6rem;
}

.main__message h1 {
    font-family: var(--caveat), sans-serif;
    font-size: 5rem;
    margin: 1rem 0;
}

.main__message p {
    text-transform: uppercase;
}

.btn {
    background: rgba(5, 7, 7, .7);
    border: 2px solid var(--sunset-shadow);
    border-radius: 2rem;
    font-size: 1.6rem;
    color: var(--sunset-glow-3);
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover {
    background-color: rgba(5, 7, 7, .4);
    color: var(--sunset-glow-3);
    border: 2px solid var(--sunset-black);
}

/* Services */

.services {
}

.title__heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
}

.title__heading h3 {
    font-size: 1.4rem;
}

.title__heading h1 {
    font-family: var(--caveat);
    font-size: 2rem;
    margin: .5rem 0 1rem;
}

.title__heading p {
    text-transform: lowercase;
}











