@import url('https://fonts.googleapis.com/css?family=Abel|Assistant|Cabin|Calligraffitti|Clicker+Script|Exo|Hind|Julius+Sans+One|Jura|Lexend+Tera|Maven+Pro|Norican|Pattaya|Poiret+One|Questrial|Ruda|Syncopate|Tajawal|Waiting+for+the+Sunrise|Allura|Caveat|Courgette|Handlee|Marck+Script|Mr+De+Haviland|Nothing+You+Could+Do|Pacifico|Parisienne|Tangerine|Yellowtail&display=swap');

:root {
 --hindi: 'Hind', sans-serif;
 --caabin: 'Cabin', sans-serif;
 --abel: 'Abel', sans-serif;
 --exo: 'Exo', sans-serif;
 --questrial: 'Questrial', sans-serif;
 --maven-pro: 'Maven Pro', sans-serif;
 --assistant: 'Assistant', sans-serif;
 --tajawal: 'Tajawal', sans-serif;
 --poiret-one: 'Poiret One', cursive;
 --ruda: 'Ruda', sans-serif;
 --lexend-tera: 'Lexend Tera', sans-serif;
 --julius-sans: 'Julius Sans One', sans-serif;
 --jura: 'Jura', sans-serif;
 --syncopate: 'Syncopate', sans-serif;
 --norican: 'Norican', cursive;
 --pattaya: 'Pattaya', sans-serif;
 --calligraffitti: 'Calligraffitti', cursive;
 --sunrise: 'Waiting for the Sunrise', cursive;
 --clicker: 'Clicker Script', cursive;
 --pathway-gothic: 'Pathway Gothic One', sans-serif;
 --barlow-semi: 'Barlow Semi Condensed', sans-serif;
 --istok-web: 'Istok Web', sans-serif;
 --m-plus-1: 'M PLUS 1p', sans-serif;
 --sacremento: 'Sacramento', cursive;
 --chivo: 'Chivo', sans-serif;
 --yantramanav: 'Yantramanav', sans-serif;
 --hind-guntur: 'Hind Guntur', sans-serif;
 --gothic-a1: 'Gothic A1', sans-serif;
 --pacifico: 'Pacifico', cursive;
 --caveat: 'Caveat', cursive;
 --courgette: 'Courgette', cursive;
 --handlee: 'Handlee', cursive;
 --tangerine: 'Tangerine', cursive;
 --marck-script: 'Marck Script', cursive;
 --parisienne: 'Parisienne', cursive;
 --yellowtail: 'Yellowtail', cursive;
 --allura: 'Allura', cursive;


 --metal-sunburn: #A37C40;
 --carmine-pink: #E54B4B;
 --raisin-black: #1E1E24;
 --rifle-green: #444140;
 --rich-black: #07090F;
 --cosmic-latte: #FFFCE8;
 --tuscan-red: #6D454C;
 --des-cyan: #658E9C;
 --nav-purple: #4D5382;
 --pinapple: #514663;
 --old-gold: #B8B42D;
 --olivine: #9DAD6F;
 --quartz: #494850;
 --ruby-red: #A31621;
 --snow: #FCF7F8;
 --light-gray: #CED3DC;
 --cyan-azure: #4E8098;
 --l-cornblue: #90C2E7;
 --umber: #594F3B;
 --deep-taupe: #776258;
 --chinese-violet: #896279;
 --lavender-pur: #9C7CA5;
 --wild-blue-yonder: #ADB2D3;
 --reg-black: #010400;
 --jet: #30332E;
 --moonstone: #62BBC1;
 --magenta: #EC058E;
 --majorelle-blue: #6564DB;
 --palatine-blue: #232ED1;
 }

 *,
 *::before,
 *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
 }

 html {
  font-size: 10px;
  box-sizing: border-box;
 }

 a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--snow);
  cursor: pointer;
 }

 a:hover {
  color: var(--ruby-red);
 }

 ul {
  list-style: none;
 }

 img {
  width: 100%;
  max-width: 100%;
  height: auto;
 }

 p {
  font-size: 1.6rem;
 }

 h3 {
  font-size: 2.25rem;
 }

 .icon {
  font-size: 2.25rem;
  color: var(--snow);
  cursor: pointer;
 }

 body {
  background: var(--raisin-black);
  color: var(--snow);
  font-family: var(--handlee), sans-serif;
 }

/* Header and Nav */

nav {
    display: grid;
    grid-template-rows: minmax(min-content, 7rem) min-content;
}

nav .content {
    background-color: var(--palatine-blue);
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    align-content: space-evenly;
}

nav .content .menu {
    display: none;

}

nav .content .menu:hover {
    filter: opacity(50%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

nav .content h1 {
    font-size: 3rem;
}

nav .content .links {
    display: grid;
    grid-gap: 1.5rem;
    place-items: center;
    grid-auto-flow: column;
    grid-auto-columns: minmax(min-content, 17rem);
}

nav .dropdown {
    display: grid;
    background-color: var(--metal-sunburn);
    text-align: center;
}

nav .dropdown a {
    padding: 2rem;
}

@media only screen and (max-width: 700px) {
    nav .content .menu { display: initial;}
    nav .content .links { display: none;}
}







@media only screen and (max-width: 700px) {

}
